body {
    font-family: 'Cambay', sans-serif;
    font-size: 18px;
}

.main-container {
    margin-top: 80px;
    width: 800px;
}

.f-row {
    width: 800px;
    margin-bottom: 80px;
}

.s-row {
    width: 800px;
}

.tempchart {
    width: 650px;
    display: inline-block;
}


.visibledays {
    position: absolute;
    width: 650px;
    overflow: hidden;
}

.tempdays {
    width: 800px;
    height: 250px;
    display: flex;

}
/*
16:52 margin-left: -38
13:10 margin-left: -19

 */

.day:first-child {
    border: none;
    margin-left: -19px;
}
.day {
    height: 250px;
    border-left: 2px solid black;
    text-align: center;
    width: 150px;
}
.weathericon{
    margin-top: 180px;
}


.info {
    width: 150px;
    padding-left: 40px;
    float: right;
    display: inline-block;
}

.temp {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: -8px;
}
.events, .tasks {
    width: 395px;
    display: inline-block;
    vertical-align:top;
    margin:0;
}

.events ul, .tasks ul {
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: 6px;
}

.events li, .tasks li {
    list-style: none;
}