#maincontainer {
    font-family: 'Cambay', sans-serif;
    font-size: 16px;
    padding-left:0;
    margin-left:0;
    margin-top:60px;
}

#chart {
    width: 650px;
    float: left;
}
#upcomingevents ul {
    padding-left: 18px;
}

#upcomingevents li {
    list-style: none;
}