<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<div class="container" id="maincontainer">

    <div class="row">
        <div class="col">
            <div id="chart"></div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="upcomingevents">
                <ul>
                    <li th:each="event : ${upcomingevents}" th:text="${event}"></li>
                </ul>
            </div>
        </div>
    </div>


    <script>
        let today = new Date();
        let d = new Date();
        d.setDate(d.getDate() - 1);
        let yesterday = d;
        yesterday = yesterday.setHours(0, 0, 0, 0);
        d.setDate(d.getDate() - 1);
        let daybevoreyesterday = d;
        daybevoreyesterday = daybevoreyesterday.setHours(0, 0, 0, 0);
        d = new Date();
        d.setDate(d.getDate() + 1);
        let tomorrow = d;
        tomorrow = tomorrow.setHours(0, 0, 0, 0);
        d.setDate(d.getDate() + 1);
        let dayaftertomorrow = d;
        dayaftertomorrow = dayaftertomorrow.setHours(0, 0, 0, 0);


        var options = {
            series: [{

                data:
                    [(${tempforecast})]

            }],
            chart: {
                id: 'area-datetime',
                type: 'area',
                height: 200,
                zoom: {
                    autoScaleYaxis: true
                }
            },
            stroke: {
                width: [3],
                curve: 'smooth',
                dashArray: [0.01]
            },
            annotations: {
                xaxis: [{
                    x: daybevoreyesterday,
                    borderColor: '#000',
                    borderWidth: 4,
                    yAxisIndex: 0,
                    label: {
                        show: true,
                        style: {
                            color: '#fff',
                            background: '#000000'
                        }
                    }
                }, {
                    x: yesterday,
                    borderColor: '#000',
                    borderWidth: 4,
                    yAxisIndex: 0,
                    label: {
                        show: true,
                        style: {
                            color: '#fff',
                            background: '#000000'
                        }
                    }
                }, {
                    x: today,
                    borderColor: '#000',
                    borderWidth: 4,
                    yAxisIndex: 0,
                    label: {
                        show: true,
                        style: {
                            color: '#fff',
                            background: '#000000'
                        }
                    }
                },
                    {
                        x: tomorrow,
                        borderColor: '#000',
                        borderWidth: 4,
                        yAxisIndex: 0,
                        label: {
                            show: true,
                            style: {
                                color: '#fff',
                                background: '#000000'
                            }
                        }
                    },

                    {
                        x: dayaftertomorrow,
                        borderColor: '#000',
                        borderWidth: 4,
                        yAxisIndex: 0,
                        label: {
                            show: true,
                            style: {
                                color: '#fff',
                                background: '#000000'
                            }
                        }
                    }
                ]
            },
            dataLabels: {
                enabled: false
            },

            xaxis: {
                type: 'datetime',
                min: daybevoreyesterday,
                tickAmount: 6,
                labels: {
                    show: true,
                    offsetX: 70,
                    style: {
                        fontSize: '20px',
                        fontFamily: 'Cambay, sans-serif'

                    }
                }
            },
            yaxis: {
                labels: {
                    show: true,
                    formatter: function (value) {
                        return value + "°";
                    },
                    style: {
                        fontSize: '20px',
                        fontFamily: 'Cambay, sans-serif'

                    }
                },
            },
            tooltip: {
                x: {
                    format: 'dd MMM yyyy'
                }
            },
            fill: {
                color: '#000',
                opacity: 1,
            },
            theme: {
                monochrome: {
                    enabled: true,
                    color: '#000',
                    shadeTo: 'light',
                    shadeIntensity: 0.9
                }
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

    <div th:replace="layout :: footer"></div>
</div>
</body>
</html>